
* {
	box-sizing: border-box;
}

body {
	font-size: 1.05rem;
	font-weight: 300;
	line-height: 1.6;
	font-family: sans-serif;
	justify-content: center;
	align-items: center;
	padding: 3px 0;
	min-height: calc(100vh - 60px);
}

.btn{
	font-family: inherit;
	cursor: pointer;
	font-size: 1.05rem;
}
.text{
	opacity: 0.8;
}
.meal-wrap{
	min-height: 100vh;
	max-width: 1280px;
	padding: 2rem;
	text-align: center;
}
.meal-search{
	margin: 2rem;
}
.container{
	margin: 2rem;
	display: flex;
	align-items: stretch;
}
@media screen and (min-width: 600px){
	.container{
		width: 540px;
		margin-left: auto;
		margin-right: auto;
	}
}
@media screen and (min-width: 768px){
	#meal{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 2rem;
	}
	.meal-details{
		width: 700px;
	}
}
.meal-item{
	margin: 0;
}
@media screen and (min-width:992px){
#meal{
	grid-template-columns: repeat(3, 1fr);
}

.notFound{
	grid-template-columns: 1fr!important;
	font-size: 1.8rem;
	font-weight: 600;
	width: 100%;
}
.search-control,
.search-btn{
	width: 100%;
}
.search-btn{
	width: 120px;
	height: 35px;
	font-size: 1.8rem;
	transition: all 0.4s linear;
}
.search-control{
	height: 40px;
	padding: 0 1rem;
	font-size: 1.1rem;
	border: 1px solid tomato;
}
.menu-bar{
	margin-top: 4rem;
}
#meal{
	margin: 2.4rem;
}
.meal-item{
	border-radius: 1rem;
	overflow: hidden;
	box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.75);
}
.meal-image img{
	width: 100%;
	display: block;
}
.meal-name{
	padding: 1.5rem 0.5rem;
}
.meal-name h3{
	font-size: 1.4rem;
}
.recipe-btn{
	text-decoration: none;
	color: #fff ;
	font-weight: 500;
	font-size: 1.1rem;
	padding: 0.75rem 0;
	display: block;
	margin: 1rem auto;
	border-radius: 2rem;
	transition: all 0.4s linear;
}
.recipe-btn:hover{
	background: rgb(255, 100, 123);
}

img {
	max-width: 100%;
}

p {
	margin-bottom: 5px;
}

h2{
	text-align: center;
}

h3 {
	margin: 0;
}

h5 {
	margin: 10px 0;
}

li {
	margin-bottom: 0;
}

.meal {
	margin: 20px 0;
}

.text-center {
	text-align: center;
}
.row{
	height: 25%;
	width: 28%;
}
.meal-details{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: rgb(214, 92, 112);
	border-radius: 1rem;
	width: 90%;
	height: 90%;
	overflow-y: scroll;
	display: none;
	padding: 2rem 0;
}

.showRecipe{
	display: block;
}
.meal-details-content p{
	padding: 1rem 0;
}
.meal-details-content{
	margin: 2 rem;
}
.recipe-meal-img img{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin: 0;
	display: block;
}
.recipe-close-btn{
	position: absolute;
	right: 2rem;
	top: 2rem;
	font-size: 1.8rem;
	border: none;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0.9;
}
.recipe-title{
	letter-spacing: 1px;
	padding-bottom: 1rem;
}
.recipe-category{
	font-weight: 600;
	display: inline-block;
	padding: 0.2rem 0.5rem;
	border-radius: 0.3rem;
}
.recipe-instruct{
	padding: 1rem 0;
}}